
.languages {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.languages h1 {
  margin-bottom: 2.5rem;
}

.languages section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.item {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.item .image {
  padding-bottom: 1rem;
}

.item .content {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .item {
    width: 45%;
  }
}

@media only screen and (min-width: 1000px) {
  .languages {
    width: 100%;
  }
  .languages section {
    gap: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .languages {
    width: 100%;
  }
  .item {
    width: 20%;
  }
}
