
.socials ul {
  list-style: none;
}

.socials ul li a {
  color: var(--color-black);
  text-decoration: none;
  line-height: 1.75rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.socials ul li a span {
  padding-left: 1rem;
}

.linkedin a {
  color: var(--color-black);
  transition: .125s ease-in-out;
}

.linkedin a:hover,
.linkedin a:focus {
  color: var(--color-linkedin);
}

.github a {
  color: var(--color-black);
  transition: .125s ease-in-out;
}

.github a:hover,
.github a:focus {
  color: var(--color-github);
}

.twitter a {
  color: var(--color-black);
  transition: .125s ease-in-out;
}

.twitter a:hover,
.twitter a:focus {
  color: var(--color-twitter);
}
