
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-white: rgb(255,255,255);

  --color-gray: rgb(40,40,40);
  --color-light-gray: rgb(240,240,240);

  --color-black: rgb(0,0,0);
  --color-black-5: rgba(0,0,0, 0.05);

  --color-blue: rgb(9,9,121);

  --color-linkedin: rgb(0,119,181);
  --color-github: rgb(45,51,59);
  --color-twitter: rgb(29,161,242);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
}

@media only screen and (min-width: 1300px) {
  body {
    font-size: 1.25rem;
  }
}
